body{
	margin: 10px;
	background-color: #E6E6E5;
	color: #322f32;
    font-family: Verdana, Arial;
    font-size: 14px;
}

a{
	color: black;
}
#dbackup a:hover{
	color:#E6E6E5;
	background-color: black;
	text-decoration:none;
}

#userChangeForm {
    width: 100%;
    float: left;
    text-align: center;
    color: black;
}

.userChangeForm-row {
    width: 100%;
    clear: both;
}

.userChangeForm-row-text {
    width: 190px;
    padding-right: 10px;
    text-align: right;
    display: inline;
}

.userChangeForm-row-input {
    display: inline;
}

#flogin{
	font-family: "Courier New", Courier, monospace;
}

.notSavedButton { color: green; border-color: green; }
.saveButtonError { color: red; border-color: red; }
input.notValid { border-color: red; }
textarea.notValid { border-color: red; }

div.colorpicker div.clear {
    clear: both;
}

div.colorpicker div.colorpreviewbox {
    float: left;
    width: 100px;
    height: 100px;
    border: 1px solid silver;
    border-radius: 3px;
    text-align: center;
    line-height: 100px;
}

div.colorpicker div.colorsliders {
    margin-left: 120px;
}

div.colorpicker div.slider_wrapper {
    height: 33px;
}

div.colorpicker div.slider_red,
div.colorpicker div.slider_green,
div.colorpicker div.slider_blue {
    width: 300px;
    margin: 10px 0;
    display: inline-block;
}

div.colorpicker div.slider_red .ui-slider-range { background: red; }
div.colorpicker div.slider_red .ui-slider-handle { border-color: red; }
div.colorpicker div.slider_green .ui-slider-range { background: green; }
div.colorpicker div.slider_green .ui-slider-handle { border-color: green; }
div.colorpicker div.slider_blue .ui-slider-range { background: blue; }
div.colorpicker div.slider_blue .ui-slider-handle { border-color: blue; }

#editor_grid_table { border: 1px solid black; border-collapse: collapse; }
#editor_grid_table thead tr { background-color: #F8F8F8; }
#editor_grid_table tfoot tr { background-color: silver; text-align: right; }
#editor_grid_table td { border: 1px solid black; }
#editor_grid_table td, #editor_grid_table th { padding: 2px; }
#editor_grid_table .bool_field .yes { color: green; }
#editor_grid_table .bool_field .no { color: red; }
tr.grid_row_light,
tr.grid_row_dark { 
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
}
tr.grid_row_light { background-color: #F8F8F8; }
tr.grid_row_dark { background-color: #C4C4C4; }
tr.grid_row_light:hover,
tr.grid_row_dark:hover { background-color: #FFE586; }

fieldset.logs,
fieldset.logs fieldset { border: 1px solid black; border-radius: 5px; }
fieldset.logs legend { border: 1px solid black; border-radius: 5px; }
fieldset.logs div.row { clear: both; min-width: 900px; }
fieldset.logs div.row div.label { width: 200px; text-align: right; font-weight: bold; float: left; }
fieldset.logs div.row div.content { margin-left: 210px; }