body{
	font-family: tahoma, sans-serif;
	font-size: 14px;
	margin: 30px 0 10px 0;
	background: #f9f9f9;
}

a{
	color: red;
}
a:visited{
	color: darkred;
}

h1{
	
	color: #FF0000;
	text-shadow: 1px 1px #444;
}

#wrapper{
	width: 990px;
	padding: 5px 5px 5px 5px;
	border: 10px solid #fff;
	margin: 0 auto;
	background: #efefef;
}
#wrapper #content > div{
	border: 1px solid #e1e1e1;
	background: #fff;
	padding: 10px;
}

#header{
	clear: both;
	margin: 0 auto;
	height: 200px;
	position: relative;
	background: url("../images/header.png");
	margin-bottom: 4px;
	border: 1px solid #e1e1e1;
}
#header img{
	position: absolute;
	left: -50px;
	top: -50px;
}

#timelineWrap{
	float: left;
	font-size: 11px;
	width: 26px;
	margin-left: 5px;
	text-align: center;
	background: #fff;
}

#timeline{
	margin: 10px auto;
}

#timeline-info{
	padding: 10px;
	text-align: left;
	font-size: 12px;
	display: none;
	position: absolute;
	width: 200px;
	border: 1px solid #444;
	background: rgba(255, 255, 255, 0.8);
	z-index: 1000;
}

#physicists{
	width: 444px;
	float: left;
	background: #fff;
}

#inventions{
	width: 444px;
	float: right;
	background: #fff;
}

#content h1{
	text-align: center;
}

#breadcrumbs{
	position: absolute;
	bottom: -1px;
	left: 220px;
}
#breadcrumbs a{
	display: block;
	padding: 10px;
	background: #fff;
	border: 1px solid #e1e1e1;
	text-decoration: none;
	font-weight: bold;
}

#footer{
	text-align: center;
	margin-top: 20px;
}

#text_content h1.main_heading { margin: 10px; }
#text_content div.photo { float: left; margin: 10px; }
#text_content div.photo img { display: block; margin: 0; padding: 1px; border: 1px solid black; border-radius: 3px; text-align: center; }
#text_content div.photo span.phototitle { padding: 2px; margin: 0; border: 1px solid black; border-radius: 3px; display: block; background-color: white; color: black; }
#text_content div.description { margin: 10px; }
#text_content div.images { margin: 10px; }
#text_content div.images_border { border-top: 1px solid black; border-bottom: 1px solid black; padding: 5px 0; }
#text_content div.images a { text-decoration: none; color: white; display: inline-block; padding: 1px; border: 1px solid black; border-radius: 3px; }
#text_content div.images span.image { width: 90px; height: 90px; background: white center center no-repeat; display: inline-block; }
#text_content div.misc { margin: 10px; }
#text_content div.misc table.misc { border-collapse: collapse; width: 100%; }
#text_content div.misc table.misc td { vertical-align: top; }
#text_content div.misc table.misc td.relations { width: 33.3%; border-right: 1px solid black; }
#text_content div.misc table.misc td.miniapps { width: 33.3%; border-right: 1px solid black; }
#text_content div.widget { margin: 5px; }
#text_content div.widget div.widget_title { font-weight: bold; font-size: 1.2em; }
#text_content div.widget div.widget_content { margin-top: 3px; border-top: 1px solid black; }
#text_content div.narrow_paragraphs p { margin: 0; padding: 2px 0; }
#text_content div.test { margin: 10px; }

#navbar{
	text-align: center;
	position: absolute;
	bottom: 7px;
	width: 100%;
}

#navbar form{
	display: inline;
	background: #fff;
	border: 1px solid #e1e1e1;
	padding: 10px;
}