body{
	font-family: tahoma, sans-serif;
	font-size: 14px;
	margin: 10px;
	background: #f9f9f9;
}

a{
	color: red;
}
a:visited{
	color: darkred;
}

#wrapper{
	width: 990px;
	padding: 0 5px 5px 5px;
	border: 10px solid #fff;
	margin: 0 auto;
	background: #efefef;
}

#header{
	clear: both;
	margin: 0 auto;
	height: 200px;
}

#timelineWrap{
	float: left;
	width: 48px;
	margin-left: 5px;
	text-align: center;
	background: #fff;
}

#timeline{
	margin: 10px auto;
}

#physicists{
	width: 446px;
	padding: 10px;
	float: left;
	background: #fff;
}

#inventions{
	width: 446px;
	padding: 10px;
	float: right;
	background: #fff;
}

#content div h1{
	text-align: center;
}

#breadcrumbs{
	padding: 3px;
}

#footer{
	text-align: center;
	margin-top: 20px;
}